<div style="padding: 55px; box-sizing: border-box; background: lightblue; float: left; border: none; width: 30%;">
  <p><h3> These are the most recent tweets</h3></p>

<p>
  <% @bear.search("to:justinbieber marry me", result_type: "recent").take(3).each do |tweet| %>
  <p><%= tweet.text %></p>
  <% end %>
</p>


  <div class="twitter">
    <h2 class="twitter-header">Twitter</h2>
    <div class="twitter-tweet">
      <div class="twitter-tweet-avatar"></div>
      <div class="twitter-tweet-content">Angst</div>
    </div>

    <div class="twitter-tweet">
      <div class="twitter-tweet-avatar"></div>
      <div class="twitter-tweet-content">Overwhelming happiness and wonderment. The world is so great.</div>
    </div>

    <div class="twitter-tweet">
      <div class="twitter-tweet-avatar"></div>
      <div class="twitter-tweet-content">More Angst</div>
    </div>

    <div class="twitter-tweet">
      <div class="twitter-tweet-avatar"></div>
      <div class="twitter-tweet-content">Angst rage lonliness something something else something and some more angst</div>
    </div>

  </div>
  </div>

  </div>

</div>
<!--
<div style="padding: 25px; box-sizing: border-box; background: pink; float: right; border: none; width: 30%;">
  <p><a href="https://twitter.com/leapcode"> Tweets by Team Load to Code<%= @twitter_handle%>.</a></p>
  <p>You have this number of <a href="/followers"> <%= @followers_count%> followers.</a></p>
</div>

<div style="padding: 55px; box-sizing: border-box; background: green; float: left; border: none; width: 30%;">

<h1>Ooops, you just fell into a deep rabbit hole!</h1>
<br><p>Now, that you're here: Mind your step!</p>

</div> -->
