<h1>Ooops, that escalated quickly!</h1>

<h2>Listing Tweets</h2>


<div class="twitter">
  <div class="twitter-tweet">
    <div class="twitter-tweet::after">
      <div class="twitter-tweet-avatar">
        <div class="twitter-tweet-content">
          <!-- <p>
            <% @tweets.take(13).each do |tweet| %>
            <p><%= tweet.text %></p>
            <% end %>
          </p> -->
        </div>
      </div>
    </div>
  </div>
