<div style="padding: 25px; box-sizing: border-box; background: grey; float: left; border: none; width: 45%;">

  <h1>Yeah you have <%=@followers_count%> followers </h1>
  <p>Find me in app/views/followers/index.html.erb</p>
  <p><a href="/">Go back </a> to where you come from.</p>

</div>

<div style="padding: 25px; box-sizing: border-box; background: orange; float: right; border: none; width: 45%;">

  <h1>Here are your connections:</h1>

  <p>
    <p><% @connections.each do |c| %>
      <p><h5> <%= c.screen_name %></h5></p><br>
      <p>_______________________________________</p>
    <% end %>
  </p>
</p>

</div>
