.complete {
  padding: 10px 10px 10px;
  height: 90%;
}

.leap-app {
  position: fixed;
  padding-right: 40%;
  padding: 100px 100px 100px;
  font-family: sans-serif;
  background: pink;
}

.text {
  position: inherit;
  padding-right: inherit;
  width: 800px;
  height: 200px;
  z-index: 15;
  top: 35px;
  left: 35px;
}

.newsfeed {
  position: fixed;
  top: 0;
  right: 10px;
  bottom: 0;
  overflow: auto;
  width: 30%;
  font-family: sans-serif;
}

.tweet-boxes {
  padding: 10px 10px 10px;
  background: hsl(210, 100%, 56%);
  margin-bottom: 10px;
  border-radius: 10px;
}

.tweet::after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
}

.tweet-avatar {
  display: block;
  float: left;
  background: hsl(0,0%,30%);
  height: 30px;
  width: 30px;
  border-radius: 30px;
}

//makes sure the tweet text has some space (10px) away from the picture
.tweet-content {
  overflow: hidden;
  padding-left: 15%;
}
