.complete {
  height: 100%;
}

.left-box {
  position: fixed;
  top: 15px;
  padding-right: 60%;
  width: 60%;
}

.leap-app {
  position:relative;
  padding: 10px 10px 10px;
  font-family: sans-serif;
  z-index: 15;
  top: 15px;
  left: 35px;
  background: violet;
  border-radius: 5%;
}

.leap-icon {
  height: 60px;
  width: 80px;
  background-image: url(leap-icon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* End of left-box, start of right box "newsfeed" */

.newsfeed {
  position: fixed;
  top: 15px;
  right: 15px;
  padding-right: 20px;
  bottom: 0;
  overflow: auto;
  width: 25%;
  font-family: sans-serif;
}

.tweet-boxes {
  padding: 8px 8px 8px;
  background: hsl(210, 100%, 56%);
  margin-bottom: 10px;
  border-radius: 10px;
}

.tweet::after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
}

.tweet-avatar {
  display: block;
  float: left;
  background: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 5px 5px 5px;
  background-image: url(team-loadtocode-Loading_icon.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

//makes sure the tweet text has some space (10px) away from the picture
.tweet-content {
  overflow: hidden;
  padding-left: 4%;
}
